/* ------------------------------ General -----------------------------*/
body {
  margin: 0;
}

/* ------------------------------ Navbar -----------------------------*/
  /* Navbar container */
  .navbar {
    overflow: hidden;
    position: fixed;
    transition: .35s;
    transition-timing-function: ease-out;
}
  
  /* Navbar home links container */
  .home {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }

  /* Navbar home link icon */
  .homeIcon {
    float: left;
    display: block;
    width: auto;
    height: 40px;
  }

  /* Navbar home link "122 nasa knights" */
  .homeLink {
    float: left;
    display: block;
    font-family: 'Bruno Ace';
    color: #f2f2f2;
    text-align: center;
    padding: 18.5px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar spacer because i counldt figure out how to fix an odd overlap issue but this did it so... */
  .navbarSpacer {
    color: transparent!important;
  }
  /*FIXME #2 a better formatting solution rather than an <a> spacer*/

  /* navbar links container */
  .navbarPages {
    float: right;
    padding-right: 10px;
  }

  /* Navbar links */
  .navbarPages a {
    float: left;
    display: block;
    font-family: 'Bruno Ace';
    color: #f2f2f2;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 13px;
  }

  /* Navbar links on hover except the spacer */
  .navbarPages a:hover:not(.navbarSpacer) {
    font-weight: bolder;
    transition: 0.25s
  }
    
  /* Navbar highlight active page */
  .navbarPages a.active {
    background-color: #04AA6D;
    color: white;
  }
    
  /* Navbar hide links for small windows */
  .navbarPages .dropdownIcon {
    display: none;
  }

/* ------------------------------ Home Page -----------------------------*/

.banner {
  background: url(images/banner.JPG);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  height: 170vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerText {
  font-family: 'Bruno Ace';
  font-size: 7vw;
  font-weight: bolder;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-shadow: 1px 7px 15px black;
}

.bannerButton {
  display: inline-block;
  padding: .7em 1.9em;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  border-radius: 3px;
  transition: .3s;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Bruno Ace';
  font-size: 1.9vh;
  font-style: italic;
}

.bannerButton:hover {
  background: rgba(255, 255, 255, 0.85);
  color: rgba(0, 0, 0, 0.8);
}


  /* --------------------- media queries --------------------------*/

  @media screen and (max-width: 760px) {
    .navbarPages.responsive {
      position: relative; 
    }
    .navbarPages.responsive a.dropdownIcon {
      position: absolute;
      right: 10px;
      top: 0;
    }
    .navbarPages.responsive a {
      float: none;
      display: block;
      text-align: right;
    }
    .navbarPages a {
      display: none;
      padding: 30px 16px;
    }
    .navbarPages a.dropdownIcon {
      float: right;
      display: block;
    }

    .navbar {background-image: linear-gradient(rgba(5, 20, 57, 1) 98%, transparent);}
    .homeIcon {padding: 15px 0 0 15px;}
    .homeLink {scale: 0;}
    /*FIXME #1 show:none instead of scale*/
  }

  @media screen and (min-width: 760px) {
    .navbar {background-image: linear-gradient(rgba(5, 20, 57, .8) 10%, transparent);}
    .navbarPages a {padding: 22px 16px;}
    .homeIcon {padding: 8px 0 0 10px;}
    .homeLink {scale: 1;}
  }
