/* ------------------------------ General -----------------------------*/

:root {
  --lightblue: rgb(0, 107, 195);
  --lightnavy: rgb(39, 56, 78);
  --mediumnavy: rgb(28 40 56);
  --darknavy: rgb(18, 26, 36);
}

body {
  margin: 0;
}

a:-webkit-any-link {
  color:inherit;
  cursor: pointer;
  text-decoration:inherit;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fadeUp {
  animation: fadeUp .5s ease-in;
}
.active.fadeRight {
  animation: fadeRight .5s ease-in;
}
.active.fadeLeft {
  animation: fadeLeft .5s ease-in;
  animation-delay: 1s;
}
@keyframes fadeUp {
  0% {
    transform: translateY(10vh);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeRight {
  0% {
    transform: translateX(-5vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(5vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ------------------------------ Navbar -----------------------------*/
  /* Navbar container */
  .navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    transition: .35s;
    transition-timing-function: ease-out;
}
  
  /* Navbar home links container */
  .home {
    float: left;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }

  /* Navbar home link icon */
  .homeIcon {
    float: left;
    display: block;
    width: auto;
    height: 40px;
  }

  /* Navbar home link "122 nasa knights" */
  .homeLink {
    float: left;
    display: block;
    font-family: 'Bruno Ace';
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 18.5px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar spacer because i counldt figure out how to fix an odd overlap issue but this did it so... */
  .navbarSpacer {
    color: transparent!important;
  }
  /*FIXME #2 a better formatting solution rather than an <a> spacer*/

  /* navbar links container */
  .navbarPages {
    float: right;
    padding-right: 10px;
  }

  /* Navbar links */
  .navbarPages a {
    float: left;
    display: block;
    font-family: 'Bruno Ace';
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 13px;
  }

  /* Navbar links on hover except the spacer */
  .navbarPages a:hover:not(.navbarSpacer) {
    font-weight: bolder;
    transition: 0.25s
  }
    
  /* Navbar highlight active page */

  /*FIXME #5 make active page thing work*/

  /*
  .navbarPages a.active {
    background-color: #04AA6D;
    color: white;
  }
  */
    
  /* Navbar hide links for small windows */
  .navbarPages .dropdownIcon {
    display: none;
  }

/* ------------------------------ Home Page -----------------------------*/

.banner {
  background: url(images/banner.JPG);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}


.bannerText {
  font-family: 'Bruno Ace';
  font-size: 7vw;
  font-weight: bolder;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-shadow: 1px 7px 15px black;
}

.bannerButton {
  display: inline-block;
  padding: .7em 1.9em;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  border-radius: 3px;
  transition: .3s;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Bruno Ace';
  font-size: 1.9vh;
  font-style: italic;
}

.bannerButton:hover {
  background: rgba(255, 255, 255, 0.85);
  color: rgba(0, 0, 0, 0.8);
}

.sectButton {
  display: inline-block;
  padding: .7em 1.9em;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  border-radius: 3px;
  transition: .3s;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Bruno Ace';
  font-size: 0.8vw;
  font-style: italic;
  margin-left: 6vw;
}

.sectButton:hover {
  background: rgba(255, 255, 255, 0.85);
  color: rgba(0, 0, 0, 0.8);
}

.sect1 {
  background: url(images/compstrat.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: inset 0px 5px 12px 0px rgba(0, 0, 0, 0.56);
}

.sect1Text {
  background-image: linear-gradient(var(--lightblue)1%, var(--mediumnavy)1%);
  width: 100%;
  height: 23vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5vw;
}

.sect1Title {
  font-family: 'Bruno Ace';
  font-size: 1.5vw;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 0 0 1.75em;
  margin: 0;
}

.sect1Para {
  font-family: 'Bruno Ace';
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 4em;
  margin: 0;
}

.sect2 {
  background: url(images/compstrat.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  box-shadow: inset 0px 8px 12px 0px rgba(0, 0, 0, .56);
}

.sect2Text {
  background-image: linear-gradient(to right, var(--lightblue)0.75%, var(--mediumnavy)0.75%);
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5vw;
  box-shadow: inset 0px 7px 12px 0px rgba(0, 0, 0, .21);
}

.sect2Title {
  font-family: 'Bruno Ace';
  font-size: 1.5vw;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 0 0 1.75em;
  margin: 0;
}

.sect2Para {
  font-family: 'Bruno Ace';
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 4em;
  margin: 0;
}

.contact {
  background: var(--darknavy);
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -3px -7px 14px 0px rgb(0 0 0 / 56%);
}

/* ------------------------------ Footer -----------------------------*/

.footer {
  background: var(--mediumnavy);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
  gap: 20px;
}

.smButtons {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  font-size: 2vw;
  color: rgba(255, 255, 255, .7);
}

.footerText {
  font-family: 'Bruno Ace';
  font-size: 1vw;
  color: rgba(255, 255, 255, .5);
  margin: 0;
}

/* --------------------- media queries --------------------------*/

  @media screen and (max-width: 775px) {
    .navbarPages.responsive {
      position: relative; 
    }
    .navbarPages.responsive a.dropdownIcon {
      position: absolute;
      right: 10px;
      top: 0;
    }
    .navbarPages.responsive a {
      float: none;
      display: block;
      text-align: right;
    }
    .navbarPages a {
      display: none;
      padding: 30px 16px;
    }
    .navbarPages a.dropdownIcon {
      float: right;
      display: block;
    }

    .navbar {background-image: linear-gradient(rgba(5, 20, 57, 1) 98%, transparent);}
    .homeIcon {padding: 15px 0 0 15px;}
    .homeLink {scale: 0;}
    /*FIXME #1 show:none instead of scale*/
  }

  @media screen and (min-width: 775px) {
    .navbar {background-image: linear-gradient(rgba(5, 20, 57, .8) 10%, transparent);}
    .navbarPages a {padding: 22px 16px;}
    .homeIcon {padding: 8px 0 0 10px;}
    .homeLink {scale: 1;}
  }
